<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>servlet.AddUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AddArticleServlet</servlet-name>
		<servlet-class>servlet.AddArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AddModuleServlet</servlet-name>
		<servlet-class>servlet.AddModuleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ArticleControlServlet</servlet-name>
		<servlet-class>servlet.ArticleControlServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PersonControlServlet</servlet-name>
		<servlet-class>servlet.PersonControlServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UpdateUserInfoServlet</servlet-name>
		<servlet-class>servlet.UpdateUserInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CollectionModuleServlet</servlet-name>
		<servlet-class>servlet.CollectionModuleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ArticleListServlet</servlet-name>
		<servlet-class>servlet.ArticleListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ImageReceverServlet</servlet-name>
		<servlet-class>servlet.ImageReceverServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>MessagePushServlet</servlet-name>
		<servlet-class>servlet.MessagePushServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>FocusServlet</servlet-name>
		<servlet-class>servlet.FocusServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>FocusListServlet</servlet-name>
		<servlet-class>servlet.FocusListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>servlet.ImageServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModuleControlServlet</servlet-name>
    <servlet-class>servlet.ModuleControlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DiscussServlet</servlet-name>
    <servlet-class>servlet.DiscussServlet</servlet-class>
  </servlet>


















	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/servlet/AddUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddArticleServlet</servlet-name>
		<url-pattern>/servlet/AddArticleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddModuleServlet</servlet-name>
		<url-pattern>/servlet/AddModuleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleControlServlet</servlet-name>
		<url-pattern>/servlet/ArticleControlServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersonControlServlet</servlet-name>
		<url-pattern>/servlet/PersonControlServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserInfoServlet</servlet-name>
		<url-pattern>/servlet/UpdateUserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollectionModuleServlet</servlet-name>
		<url-pattern>/servlet/CollectionModuleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleListServlet</servlet-name>
		<url-pattern>/servlet/ArticleListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/servlet/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageReceverServlet</servlet-name>
		<url-pattern>/servlet/ImageReceverServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessagePushServlet</servlet-name>
		<url-pattern>/servlet/MessagePushServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FocusServlet</servlet-name>
		<url-pattern>/servlet/FocusServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FocusListServlet</servlet-name>
		<url-pattern>/servlet/FocusListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/servlet/ImageServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/servlet/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModuleControlServlet</servlet-name>
    <url-pattern>/servlet/ModuleControlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiscussServlet</servlet-name>
    <url-pattern>/servlet/DiscussServlet</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
